# */2 * * * * /usr/local/bin/node  /usr/src/app/hackthon.js  > /proc/1/fd/1 2>/proc/1/fd/2
35 10 * * 1-5 /usr/local/bin/node  /usr/src/app/hackthon.js  > /proc/1/fd/1 2>/proc/1/fd/2
# Mandatory blank line -- Note: deployment server is 7 hours ahead (so run at 4am)